<div class="clause">
				<h3>Background</h3>

				<p>These terms and conditions apply as between you, the User of Services (bookyourbeds.com) provided therein and The Bed Booker Ltd. the owner(s) of the Services and this Website.  Your agreement to comply with and be bound by these terms and conditions and to grant any and all licences required is deemed to occur upon your acceptance of these terms and conditions prior to your first use of the Services.</p>
			</div>



			<div class="clause">
				<h3>1. Definitions and Interpretation</h3>

				<ol>
					<li>In these terms and conditions, unless the context otherwise requires, the following expressions have the following meanings:

						<dl class="dl-horizontal">
							<dt>"Account"</dt>
							<dd>means collectively the personal information, payment information and credentials used by Users to access the Services through the Web Site;</dd>

							<dt>"Agreement"</dt>
							<dd>means the binding agreement that shall come into effect between the User and The Bed Booker Ltd following the User’s acceptance of these terms and conditions and which shall incorporate these terms and conditions;</dd>

							<dt>"Content"</dt>
							<dd>means any text, graphics, images, audio, video, software, data compilations and any other form of information capable of being stored in a computer that appears on or forms part of the Website;</dd>

							<dt>"Services"</dt>
							<dd>means collectively the online facilities, tools, services or information that The Bed Booker Ltd makes available through the Website either now or in the future;</dd>

							<dt>"Subscription Fee"</dt>
							<dd>means the sum of money paid by Users at monthly or annual intervals to keep their Account active and to enable them to access the Services;</dd>

							<dt>"Subscription Period"</dt>
							<dd>means the period for which a subscription has been purchased and may refer to one month or one year accordingly;</dd>

							<dt>"User / Users"</dt>
							<dd>means any third party that accesses the Website and the Services that is not employed by The Bed Booker Ltd and acting in the course of their employment; and</dd>

							<dt>"Website"</dt>
							<dd>means the website on which these terms and conditions appear (www.bookyourbeds.com) and any sub-domains of that website unless expressly excluded by their own terms and conditions.</dd>


						</dl>


					</li>

					<li>
						Unless the context otherwise requires, each reference in these terms and conditions to:

						<ol>
							<li>“writing”, and any cognate expression, includes a reference to any communication effected by electronic or facsimile transmission or similar means;</li>

							<li>a statute or a provisions of a statute is a reference to that statute or provision as amended or re-enacted at the relevant time;</li>

							<li>a Clause or paragraph is a reference to a Clause of these terms and conditions.</li>
						</ol>
					</li>

					<li>The headings used in these terms and conditions are for convenience only and shall have no effect upon the interpretation of these terms and conditions.</li>

					<li>Words imparting the singular number shall include the plural and vice versa.</li>

					<li>References to any gender shall include the other gender.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>2. Provision of Services</h3>

				<ol>
					<li>The Bed Booker Ltd shall use its best and reasonable endeavours to provide the Services on an error-free basis and without interruption.</li>

					<li>Notwithstanding sub-Clause 2.1, The Bed Booker Ltd does not provide any guarantee that provision of the Services shall be error-free or without interruption and reserves the right to alter or suspend provision of the Services without prior notice to Users.  By accepting these terms and conditions the User acknowledges that the Services may change in form or nature at any time.</li>

					<li>The Bed Booker Ltd shall have the right, exercisable at its sole discretion, to terminate provision of the Services without prior notice to Users.</li>

					<li>Notwithstanding The Bed Booker Ltd’s right to perform any of the actions detailed in this Clause without prior notice, The Bed Booker Ltd shall use its best and reasonable endeavours to provide such notice whenever possible.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>3. Access to Services</h3>

				<ol>
					<li>The User represents and warrants that they have the authority to enter into the Agreement, to use the Services, and to perform any and all acts as may be necessary under these terms and conditions.</li>

					<li>If the User is unable to comply with the requirements of sub-Clause 3.1 they shall be prohibited from using the Services and must not accept these terms and conditions.</li>

					<li>
						In order to use the Services and to submit or create Content, Users are required to create an Account and to submit certain personal details.  By accepting these terms and conditions the User represents and warrants that:

						<ol>
							<li>any information that is submitted is accurate and truthful;</li>
							<li>all such information will be kept accurate and up-to-date; and</li>
							<li>the means by which they identify themselves does not violate any part of these terms and conditions or any applicable laws.</li>
						</ol>
					</li>

					<li>If the User has reason to believe that their Account details have been obtained by another without consent, the User should contact The Bed Booker Ltd or bookyourbeds.com immediately to suspend their Account and cancel any unauthorised orders or payments that may be pending.  Users should be aware that orders or payments can only be cancelled up until the point at which the Services are used for the first time through that particular Account.  In the event that unauthorised use is made prior to the User notifying The Bed Booker Ltd or bookyourbeds.com of the unauthorised nature of the order or payment, The Bed Booker Ltd will suspend access to the Services and the withdrawal of any scheduled payments pending investigation.  Following investigation, it shall be determined whether or not to cancel access to the Services and make a full or partial refund of the payment to the User.</li>

					<li>The terms of sub-Clause 3.4 shall apply notwithstanding any related provisions in Clause 16.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>4. Subscriptions</h3>

				<ol>
					<li>Subscription charges commence on the date that the User activates their subscription.  After the initial one month free trial period is complete The User’s bank account / credit / debit card will be billed on a monthly or annual basis thereafter.</li>

					<li>The first payment will be at the price advertised on the Website.  The Bed Booker Ltd reserves the right to change Subscription Fees from time to time and any such changes may affect Users’ subscription rates.</li>

					<li>Increases in price will be reflected in the User’s subscription on the date of the immediately subsequent renewal.</li>

					<li>Decreases in price will be reflected the User’s subscription on the date of the immediately subsequent renewal.</li>

					<li>If a User terminates their subscription or Account they will continue to have access to the Services for the remainder of the prevailing Subscription Period up until the renewal date whereupon access will cease unless the User chooses to pay the Subscription Fee to reactivate their subscription.</li>

					<li>If a User subscribes in error they must inform The Bed Booker Ltd or bookyourbeds.com within 24 hours of subscribing and must not use the Services during that time.  If any use can be traced to the User’s Account, no refund will be provided.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>5. Use of Services</h3>

				<ol>
					<li>The Services are intended for commercial use only.</li>

					<li>Users are permitted to use the Services only in accordance with:

						<ol>
							<li>these terms and conditions; and </li>
							<li>any relevant law, regulation or other applicable instrument in their particular jurisdiction.</li>
						</ol>
					</li>

					<li>Subject to any express agreement to the contrary, Users may only access the Services through the normal means provided by The Bed Booker Ltd or bookyourbeds.com.  Users shall not attempt to download, convert or otherwise reverse-engineer any part of the Services.</li>

					<li>The restrictions set out in sub-Clause 5.3 shall not apply to Content submitted or created by a particular User where that User is downloading their Content, nor to any other Content that a User may have permission to access.</li>

					<li>Users may not engage in any conduct that may disrupt provision of the Services by The Bed Booker Ltd through bookyourbeds.com.</li>

					<li>Subject to any express agreement to the contrary, Users may not reproduce, copy, duplicate, trade or resell the Services.</li>

					<li>Users’ rights to use the Services are non-exclusive, non-transferrable and fully revocable at The Bed Booker Ltd’s discretion.</li>
				</ol>
			</div>


			<div class="clause">
				<h3>6. Intellectual Property</h3>

				<ol>
					<li>Subject to the exceptions in Clause 7 of these terms and conditions, all Content included on the Website, unless submitted or created by Users, including, but not limited to, text, graphics, logos, icons, images, sound clips, video clips, data compilations, page layout, underlying code and software is the property of The Bed Booker Ltd, our affiliates or other relevant third parties.  By accepting these terms and conditions the User acknowledges that such material is protected by applicable United Kingdom and International intellectual property and other laws.</li>

					<li>Subject to Clause 9 Users may not reproduce/copy, distribute, store or in any other fashion re-use material from the Website unless otherwise indicated on the Website or unless given express written permission to do so by The Bed Booker Ltd.
					</li>
				</ol>
			</div>

			<div class="clause">
				<h3>7. Third Party Intellectual Property</h3>

				<p>Where expressly indicated, certain Content, such as advertising material, and the Intellectual Property Rights subsisting therein belongs to other parties.  This Content, unless expressly stated to be so, is not covered by any permission granted by Clause 6 of these Terms and Conditions to use Content from the Web Site.  The exceptions in Clause 9 continue to apply.  Any such Content will be accompanied by a notice providing the contact details of the owner and any separate use policy that may be relevant.</p>
			</div>

			<div class="clause">
				<h3>8. User Content and Intellectual Property</h3>

				<ol>
					<li>When using the Services to create Content, Users should do so in accordance with the following rules:
						<ol>
							<li>Users must not submit Content that is unlawful or otherwise objectionable.  This includes, but is not limited to, Content that is abusive, threatening, harassing, defamatory or fraudulent;</li>

							<li>Users must not submit Content that is intended to promote or incite violence;</li>

							<li>Users must not submit Content that may contain viruses or any other software or instructions that may damage or disrupt other software, computer hardware or communications networks;</li>

							<li>Users must not post links to other websites containing any of the above types of Content;</li>

							<li>Users must not engage in any form of commercial advertising.  This does not prohibit references to businesses for non-promotional purposes including references where advertising may be incidental;</li>

							<li>Users must not impersonate other people, particularly employees and representatives of The Bed Booker Ltd or our affiliates;</li>

							<li>Users must not use the Services for unauthorised mass-communication such as “spam” or “junk mail”.</li>
						</ol>
					</li>

					<li>The Bed Booker Ltd, bookyourbeds.com has the right, but not the obligation to pre or post-screen Content submitted or created by Users and may flag or filter any Content that it deems appropriate.</li>

					<li>If any Content is found to be in breach of these terms and conditions, The Bed Booker Ltd reserves the right to remove it without notice and may, at its sole discretion, terminate the responsible User’s access to the Services.</li>

					<li>Users acknowledge that they may be exposed to Content that they may find offensive.  If a User believes that such Content is in violation of these terms and conditions, it should be reported to The Bed Booker Ltd using email contact mail@thebedbooker.com.</li>

					<li>Users are solely responsible for any and all Content that they submit or create.  The Bed Booker Ltd does not endorse, support, represent or otherwise guarantee the accuracy or reliability of such Content.</li>

					<li>Subject to sub-Clause 8.4, Users use the Services at their own risk.</li>

					<li>By submitting or creating Content Users warrant and represent that they are the author of such Content and / or that they have acquired all of the appropriate rights and / or permissions to use the Content in this fashion.  The Bed Booker Ltd/bookyourbeds.com accept no responsibility or liability for any infringement of third party rights by such Content. Further, Users waive all moral rights in any and all Content that they submit or create to be named as its author.  The Bed Booker Ltd/bookyourbeds.com accept no responsibility or liability for any infringement of third party rights by such Content.</li>

					<li>By accepting these terms and conditions, the User grants a non-exclusive, worldwide, perpetual licence to The Bed Booker Ltd to copy, distribute, transmit, publicly display, publicly perform, transmit and reformat all Content for the purpose of providing the Services.</li>

					<li>The User represents and warrants that they have all necessary rights, power and authority to grant the licence described in sub-Clause 8.8.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>9. Fair Use of Intellectual Property</h3>

				<p>Content may be copied, transmitted, performed, adapted or otherwise re-used without written permission where any of the exceptions detailed in Chapter III of the Copyright Designs and Patents Act 1988 or other relevant legislation applies.</p>
			</div>

			<div class="clause">
				<h3>10. Links to Other Websites</h3>

				<p>This Website may provide links to other websites as part of the Services.  Unless expressly stated, such websites are not under the control of The Bed Booker Ltd or that of our affiliates.  The Bed Booker Ltd assumes no responsibility for the content of the websites and disclaims liability for any and all forms of loss or damage arising out of the use of them.  The inclusion of a link to another website on this Website does not imply any endorsement of that website or of those in control of it.</p>
			</div>

			<div class="clause">
				<h3>11. Links to this Website</h3>

				<p>Users wishing to place a link to this Website on another website may do so only to our home page in the absence of any prior permission.  Deep linking (i.e. links to specific pages within the Website) requires the express permission of The Bed Booker Ltd.  To find out more Users should contact The Bed Booker Ltd at mail@thebedbooker.com.</p>
			</div>

			<div class="clause">
				<h3>12. Privacy</h3>

				<p>Use of the Website and the Services is also governed by The Bed Booker Ltd’s Privacy Policy which is incorporated into these terms and conditions by this reference.</p>

				<p>To use bookyourbeds.com, you will be required to register an account and password. You must provide your correct company name or legal full name, a valid email address, and any other information requested in order to complete the registration process. You agree that the information we obtain through your use of bookyourbeds.com, including your registration data, is subject to our Privacy Policy written below.</p>

				<p>“The Bed Booker Ltd. will not pass on any of your details or information collected through your use of bookyourbeds.com to any third party without your express permission being sought and granted prior to any information being released.”</p>
			</div>

			<div class="clause">
				<h3>13. Disclaimer of Warranties</h3>

				<ol>
					<li>The Bed Booker Ltd/bookyourbeds.com makes no warranty or representation that the Website or the Services will meet Users’ requirements, that they will be of satisfactory quality, that they will be fit for a particular purpose, that they will not infringe the rights of third parties, that they will be compatible with all systems, or that they will be secure.</li>

					<li>The Bed Booker Ltd/bookyourbeds.com shall use its best and reasonable endeavours to ensure that all information provided on the Website and the Services is accurate and up to date, however The Bed Booker Ltd makes no warranty or representation that this will always be the case.  The Bed Booker Ltd makes no guarantee of any specific results from the use of the Website or the Services.</li>

					<li>No part of the Website or the Services is intended to constitute advice and the Content of the Website and the Services should not be relied upon when making any decisions or taking any action of any kind.</li>

					<li>Any information that forms part of the Website or the Services is designed with commercial purposes in mind. The Bed Booker Ltd makes no representation or warranty that the Website or the Services or any Content therein is suitable for use in commercial situations or that it constitutes accurate data and / or advice on which business decisions can be based.</li>

					<li>Whilst every effort has been made to ensure that all descriptions of Services available from The Bed Booker Ltd correspond to the actual services available, The Bed Booker Ltd is not responsible for any variations from these descriptions.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>14. Availability of the Website and the Services</h3>

				<ol>
					<li>The Website and the Services are provided “as is” and on an “as available” basis.  The Bed Booker Ltd gives no warranty that the Website or the Services will be free of defects and / or faults.  To the maximum extent permitted by law The Bed Booker Ltd provides no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality.</li>

					<li>The Bed Booker Ltd accepts no liability for any disruption or non-availability of the Website or the Services resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events, acts of war or legal restrictions and censorship.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>15. Limitation of Liability</h3>

				<ol>
					<li>The Bed Booker Ltd’s liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising out of our breach of these terms and conditions shall be limited to the value of the User’s subscription prevailing at the relevant time.  For all other direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the use of the Website, the Services or any information contained therein, to the maximum extent permitted by law, The Bed Booker Ltd accepts no liability.  Users should be aware that they use the Website, the Services and all relevant Content at their own risk.</li>

					<li>Nothing in these terms and conditions excludes or restricts The Bed Booker Ltd’s liability for death or personal injury resulting from any negligence or fraud on the part of The Bed Booker Ltd.</li>
				</ol>
			</div>


			<div class="clause">
				<h3>16. Term and Termination</h3>

				<ol>
					<li>The term of the Agreement shall commence upon the User’s acceptance of these terms and conditions and shall continue until terminated either by the User or by The Bed Booker Ltd/bookyourbeds.com in accordance with this Clause 16.</li>

					<li>If a User wishes to terminate the Agreement they may do so by:
						<ol>
							<li>Informing The Bed Booker Ltd or bookyourbeds.com in writing that they wish to terminate this Agreement.</li>
						</ol>
					</li>

					<li>The Bed Booker Ltd reserves the right to terminate the Agreement, a User’s Account and a User’s access to the Services at any time for the following reasons:
						<ol>
							<li>The User has committed a material breach of these terms and conditions, unless such breach is capable of remedy, in which case the right to terminate immediately will be exercisable if the User fails to remedy the breach within 10 days after a written notice to do so;</li>
							<li>The User has indicated, expressly or impliedly, that they do not intend to or are unable to comply with these terms and conditions;</li>
							<li>The Bed Booker Ltd is required to do so by law;</li>
							<li>It has become, in the opinion of The Bed Booker Ltd, its affiliates or advisers, no longer commercially viable to continue providing the Services;</li>
							<li>The Bed Booker Ltd/bookyourbeds.com is no longer providing the Services in the User’s country of residence;</li>
						</ol>
					</li>

					<li>If The Bed Booker Ltd/bookyourbeds.com terminates a User’s Account as a result of the User’s breach of these terms and conditions the User will not be entitled to any refund.</li>

					<li>If The Bed Booker Ltd/bookyourbeds.com terminates a User’s Account or subscription for any other reason, the User may be refunded all or a proportion of any remaining balance of their Subscription Fee. Any such refund will be at the discretion of The Bed Booker Ltd/bookyourbeds.com and depend on the circumstances and reasons for account termination. A full amount of refund will be calculated based upon the fee being divided by the number of days in the applicable Subscription Period and multiplied by the number of days remaining until the end of the Subscription Period.</li>

					<li>In the event that The Bed Booker Ltd/bookyourbeds.com terminates a User’s Account or subscription, the User will cease to have access to the Services from the date of termination.</li>

					<li>If the User terminates their Account or subscription, they will continue to have access to the Services for the remainder of the prevailing Subscription Period, termination becoming effective at the end of that Subscription Period.</li>

					<li>In the event that the Agreement is terminated, the User’s Account will be closed and their access to the Services suspended in accordance with sub-Clauses 16.6 and 16.7.  Any Content that the User has submitted or created will become inaccessible to all Users from the date on which the Services become inaccessible, however copies may be retained by The Bed Booker Ltd/bookyourbeds.com as part of standard backup procedures.</li>

					<li>Upon termination of the Agreement, the User shall cease to be bound by all obligations set out in these terms and conditions with the exception of those expressly stated to survive the termination of the Agreement.</li>
				</ol>
			</div>

			<div class="clause">
				<h3>17. No Waiver</h3>

				<p>In the event that either the User or The Bed Booker Ltd fails to exercise any right or remedy contained in these terms and conditions, this shall not be construed as a waiver of that right or remedy.</p>
				
			</div>


			<div class="clause">
				<h3>18. Assignment</h3>

				<p>Users may not assign, transfer, sub-contract, or in any other manner make over to any third party the benefit and/or burden of this Agreement without the prior written consent of The Bed Booker Ltd, such consent not to be unreasonably withheld.</p>
				
			</div>


			<div class="clause">
				<h3>19. Severance</h3>

				<p>Whilst every effort has been made to ensure that these terms and conditions adhere strictly with the relevant provisions of the Unfair Contract Terms Act 1977, in the event that any of these terms are found to be unlawful, invalid or otherwise unenforceable, that term is to be deemed severed from these terms and conditions and shall not affect the validity and enforceability of the remaining terms and conditions.  This term shall apply only within jurisdictions where a particular term is illegal.</p>
				
			</div>


			<div class="clause">
				<h3>20. Entire Agreement</h3>

				<p>These terms and conditions embody and set forth the entire Agreement and understanding between the Parties and supersede all prior oral or written agreements, understandings or arrangements relating to the subject matter of the Agreement.  Neither the User nor The Bed Booker Ltd shall be entitled to rely on any agreement, understanding or arrangement not expressly set forth in these terms and conditions, save for any representation made fraudulently.</p>
				
			</div>


			<div class="clause">
				<h3>21. Notices</h3>

				<p>All notices / communications shall be sent to and by The Bed Booker Ltd either by post to our premises.</p>

				<p>4 Dawson's Court<br />Balado<br />Kinross<br />KY13 0PE</p>

				<p>Or by email to mail@thebedbooker.com.  Such notice will be deemed received 3 days after posting if sent by first class post, the day of sending if the email is received in full on a business day and on the next business day if the email is sent on a weekend or public holiday.</p>
				
			</div>



			<div class="clause">
				<h3>22. Law and Jurisdiction</h3>

				<ol>
					<li>These terms and conditions, the Agreement and all other aspects of the relationship between the User and The Bed Booker Ltd shall be governed by and construed in accordance with the Laws of Scotland, England and Wales.</li>

					<li>Any dispute between the User and The Bed Booker Ltd relating to these terms and conditions, the Agreement and all other aspects of the relationship shall fall within the exclusive jurisdiction of the courts of Scotland, England and Wales.</li>

					

					
				</ol>
			</div>